@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>TSD Retro Helper</h2>

<p>
    Retrospective helper is a tool to help to document the retro lessons learned and track the implemented actions, improvements.
</p>

<h3>Have fun using it!</h3>
