@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>Authors of this beautiful project</h2>

<address>
    Marcin Biedalak<br />
    Filip Bugaj<br />
    Jakub Michalak<br />
    Jakub Piechowiak<br />
</address>
