@page
@model TSD_RetroHelper.Pages.RetroItems1.EditModel

@{
    ViewData["Title"] = "Edit";
    var retroItemId = Model.RetroItem.RetroBoardRefId;
}

<h2>Edit</h2>

<h4>RetroItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RetroItem.Id" />
            <div class="form-group">
                <label asp-for="RetroItem.Rating" class="control-label"></label>
                <input asp-for="RetroItem.Rating" class="form-control" />
                <span asp-validation-for="RetroItem.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetroItem.Name" class="control-label"></label>
                <input asp-for="RetroItem.Name" class="form-control" />
                <span asp-validation-for="RetroItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetroItem.Comment" class="control-label"></label>
                <input asp-for="RetroItem.Comment" class="form-control" />
                <span asp-validation-for="RetroItem.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetroItem.RetroBoardRefId" class="control-label"></label>
                <select asp-for="RetroItem.RetroBoardRefId" class="form-control" asp-items="ViewBag.RetroBoardRefId"></select>
                <span asp-validation-for="RetroItem.RetroBoardRefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetroItem.ColumnId" class="control-label"></label>
                <input asp-for="RetroItem.ColumnId" class="form-control" />
                <span asp-validation-for="RetroItem.ColumnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id=@retroItemId asp-route-name=@Request.Query["name"]>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
